.register-fieldset {
  display: none;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #999;
  border-radius: 2px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.register-fieldset.register-fieldset_shown {
  display: block;
}
