.vv-form {
  //

  &.vv-form_error {
    //
  }
}

.vv-label {
  @include vv-transitions;

  &.vv-label_error {
    color: $vv-label-error-color;
  }
}

.vv-field {
  @include vv-transitions;

  &.vv-field_error:not(:focus) {
    color: $vv-field-error-color;
    border-color: $vv-field-error-border-color;
    background-color: $vv-field-error-background-color;
  }

  &.vv-field_error:focus {
    color: $vv-field-error-focus-color;
    border-color: $vv-field-error-focus-border-color;
    background-color: $vv-field-error-focus-background-color;
  }
}

.vv-display {
  @include vv-transitions;
  display: none;

  &.vv-display_error {
    display: block;
    margin: $vv-display-error-margin;
    color: $vv-display-error-color;
    font-weight: $vv-display-error-font-weight;
    animation: $vv-display-error-animation-show;
  }

  &.vv-display_error-update {
    animation: $vv-display-error-animation-update;
  }
}
